In [1]:
%env PGINSTANCE=pg

env: PGINSTANCE=pg

In [3]:
%env BASE_DIR=/home/jupyter/pagila

env: BASE_DIR=/home/jupyter/pagila

In [12]:
# !psql -c "\i $BASE_DIR/pagila-schema.sql"

In [13]:
# !psql -c "\i $BASE_DIR/pagila-insert-data.sql"

In [25]:
!psql -c "\d pagila.customer"

                                                Table "pagila.customer"
   Column    |           Type           | Collation | Nullable |                        Default
-------------+--------------------------+-----------+----------+-------------------------------------------------------
 customer_id | integer                  |           | not null | nextval('pagila.customer_customer_id_seq1'::regclass)
 store_id    | smallint                 |           | not null |
 first_name  | text                     |           | not null |
 last_name   | text                     |           | not null |
 email       | text                     |           |          |
 address_id  | smallint                 |           | not null |
 activebool  | boolean                  |           | not null | true
 create_date | date                     |           | not null | 'now'::text::date
 last_update | timestamp with time zone |           |          | now()
 active      | integer                  |           |          |
Indexes:
    "customer_pkey" PRIMARY KEY, btree (customer_id)
    "idx_fk_address_id" btree (address_id)
    "idx_fk_store_id" btree (store_id)
    "idx_last_name" btree (last_name)
Foreign-key constraints:
    "customer_address_id_fkey" FOREIGN KEY (address_id) REFERENCES pagila.address(address_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "customer_store_id_fkey" FOREIGN KEY (store_id) REFERENCES pagila.store(store_id) ON UPDATE CASCADE ON DELETE RESTRICT
Referenced by:
    TABLE "pagila.payment" CONSTRAINT "customer_id_fkey" FOREIGN KEY (customer_id) REFERENCES pagila.customer(customer_id) ON UPDATE CASCADE ON DELETE RESTRICT
    TABLE "pagila.rental" CONSTRAINT "rental_customer_id_fkey" FOREIGN KEY (customer_id) REFERENCES pagila.customer(customer_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.customer FOR EACH ROW EXECUTE FUNCTION pagila.last_updated()

In [26]:
!psql -c "\d pagila.actor"

                                              Table "pagila.actor"
   Column    |           Type           | Collation | Nullable |                    Default
-------------+--------------------------+-----------+----------+------------------------------------------------
 actor_id    | integer                  |           | not null | nextval('pagila.actor_actor_id_seq'::regclass)
 first_name  | text                     |           | not null |
 last_name   | text                     |           | not null |
 last_update | timestamp with time zone |           | not null | now()
Indexes:
    "actor_pkey" PRIMARY KEY, btree (actor_id)
    "idx_actor_last_name" btree (last_name)
Referenced by:
    TABLE "pagila.film_actor" CONSTRAINT "film_actor_actor_id_fkey" FOREIGN KEY (actor_id) REFERENCES pagila.actor(actor_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.actor FOR EACH ROW EXECUTE FUNCTION pagila.last_updated()

In [27]:
!psql -c "\d pagila.category"

                                               Table "pagila.category"
   Column    |           Type           | Collation | Nullable |                       Default
-------------+--------------------------+-----------+----------+------------------------------------------------------
 category_id | integer                  |           | not null | nextval('pagila.category_category_id_seq'::regclass)
 name        | text                     |           | not null |
 last_update | timestamp with time zone |           | not null | now()
Indexes:
    "category_pkey" PRIMARY KEY, btree (category_id)
Referenced by:
    TABLE "pagila.film_category" CONSTRAINT "film_category_category_id_fkey" FOREIGN KEY (category_id) REFERENCES pagila.category(category_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.category FOR EACH ROW EXECUTE FUNCTION pagila.last_updated()

In [28]:
!psql -c "\d pagila.film"

                                                  Table "pagila.film"
        Column        |           Type           | Collation | Nullable |                   Default
----------------------+--------------------------+-----------+----------+----------------------------------------------
 film_id              | integer                  |           | not null | nextval('pagila.film_film_id_seq'::regclass)
 title                | text                     |           | not null |
 description          | text                     |           |          |
 release_year         | pagila.year              |           |          |
 language_id          | smallint                 |           | not null |
 original_language_id | smallint                 |           |          |
 rental_duration      | smallint                 |           | not null | 3
 rental_rate          | numeric(4,2)             |           | not null | 4.99
 length               | smallint                 |           |          |
 replacement_cost     | numeric(5,2)             |           | not null | 19.99
 rating               | pagila.mpaa_rating       |           |          | 'G'::pagila.mpaa_rating
 last_update          | timestamp with time zone |           | not null | now()
 special_features     | text[]                   |           |          |
 fulltext             | tsvector                 |           | not null |
Indexes:
    "film_pkey" PRIMARY KEY, btree (film_id)
    "film_fulltext_idx" gist (fulltext)
    "idx_fk_language_id" btree (language_id)
    "idx_fk_original_language_id" btree (original_language_id)
    "idx_title" btree (title)
Foreign-key constraints:
    "film_language_id_fkey" FOREIGN KEY (language_id) REFERENCES pagila.language(language_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "film_original_language_id_fkey" FOREIGN KEY (original_language_id) REFERENCES pagila.language(language_id) ON UPDATE CASCADE ON DELETE RESTRICT
Referenced by:
    TABLE "pagila.film_actor" CONSTRAINT "film_actor_film_id_fkey" FOREIGN KEY (film_id) REFERENCES pagila.film(film_id) ON UPDATE CASCADE ON DELETE RESTRICT
    TABLE "pagila.film_category" CONSTRAINT "film_category_film_id_fkey" FOREIGN KEY (film_id) REFERENCES pagila.film(film_id) ON UPDATE CASCADE ON DELETE RESTRICT
    TABLE "pagila.inventory" CONSTRAINT "inventory_film_id_fkey" FOREIGN KEY (film_id) REFERENCES pagila.film(film_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    film_fulltext_trigger BEFORE INSERT OR UPDATE ON pagila.film FOR EACH ROW EXECUTE FUNCTION tsvector_update_trigger('fulltext', 'pg_catalog.english', 'title', 'description')
    last_updated BEFORE UPDATE ON pagila.film FOR EACH ROW EXECUTE FUNCTION pagila.last_updated()

In [29]:
!psql -c "\d pagila.film_actor"

                        Table "pagila.film_actor"
   Column    |           Type           | Collation | Nullable | Default
-------------+--------------------------+-----------+----------+---------
 actor_id    | smallint                 |           | not null |
 film_id     | smallint                 |           | not null |
 last_update | timestamp with time zone |           | not null | now()
Indexes:
    "film_actor_pkey" PRIMARY KEY, btree (actor_id, film_id)
    "idx_fk_film_id" btree (film_id)
Foreign-key constraints:
    "film_actor_actor_id_fkey" FOREIGN KEY (actor_id) REFERENCES pagila.actor(actor_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "film_actor_film_id_fkey" FOREIGN KEY (film_id) REFERENCES pagila.film(film_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.film_actor FOR EACH ROW EXECUTE FUNCTION pagila.last_updated()

In [30]:
!psql -c "\d pagila.film_category"

                      Table "pagila.film_category"
   Column    |           Type           | Collation | Nullable | Default
-------------+--------------------------+-----------+----------+---------
 film_id     | smallint                 |           | not null |
 category_id | smallint                 |           | not null |
 last_update | timestamp with time zone |           | not null | now()
Indexes:
    "film_category_pkey" PRIMARY KEY, btree (film_id, category_id)
Foreign-key constraints:
    "film_category_category_id_fkey" FOREIGN KEY (category_id) REFERENCES pagila.category(category_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "film_category_film_id_fkey" FOREIGN KEY (film_id) REFERENCES pagila.film(film_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.film_category FOR EACH ROW EXECUTE FUNCTION pagila.last_updated()

In [31]:
!psql -c "\d pagila.address"

                                               Table "pagila.address"
   Column    |           Type           | Collation | Nullable |                      Default
-------------+--------------------------+-----------+----------+----------------------------------------------------
 address_id  | integer                  |           | not null | nextval('pagila.address_address_id_seq'::regclass)
 address     | text                     |           | not null |
 address2    | text                     |           |          |
 district    | text                     |           | not null |
 city_id     | smallint                 |           | not null |
 postal_code | text                     |           |          |
 phone       | text                     |           | not null |
 last_update | timestamp with time zone |           | not null | now()
Indexes:
    "address_pkey" PRIMARY KEY, btree (address_id)
    "idx_fk_city_id" btree (city_id)
Foreign-key constraints:
    "address_city_id_fkey" FOREIGN KEY (city_id) REFERENCES pagila.city(city_id) ON UPDATE CASCADE ON DELETE RESTRICT
Referenced by:
    TABLE "pagila.customer" CONSTRAINT "customer_address_id_fkey" FOREIGN KEY (address_id) REFERENCES pagila.address(address_id) ON UPDATE CASCADE ON DELETE RESTRICT
    TABLE "pagila.staff" CONSTRAINT "staff_address_id_fkey" FOREIGN KEY (address_id) REFERENCES pagila.address(address_id) ON UPDATE CASCADE ON DELETE RESTRICT
    TABLE "pagila.store" CONSTRAINT "store_address_id_fkey" FOREIGN KEY (address_id) REFERENCES pagila.address(address_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.address FOR EACH ROW EXECUTE FUNCTION pagila.last_updated()

In [32]:
!psql -c "\d pagila.city"

                                             Table "pagila.city"
   Column    |           Type           | Collation | Nullable |                   Default
-------------+--------------------------+-----------+----------+----------------------------------------------
 city_id     | integer                  |           | not null | nextval('pagila.city_city_id_seq'::regclass)
 city        | text                     |           | not null |
 country_id  | smallint                 |           | not null |
 last_update | timestamp with time zone |           | not null | now()
Indexes:
    "city_pkey" PRIMARY KEY, btree (city_id)
    "idx_fk_country_id" btree (country_id)
Foreign-key constraints:
    "city_country_id_fkey" FOREIGN KEY (country_id) REFERENCES pagila.country(country_id) ON UPDATE CASCADE ON DELETE RESTRICT
Referenced by:
    TABLE "pagila.address" CONSTRAINT "address_city_id_fkey" FOREIGN KEY (city_id) REFERENCES pagila.city(city_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.city FOR EACH ROW EXECUTE FUNCTION pagila.last_updated()

In [33]:
!psql -c "\d pagila.country"

                                               Table "pagila.country"
   Column    |           Type           | Collation | Nullable |                      Default
-------------+--------------------------+-----------+----------+----------------------------------------------------
 country_id  | integer                  |           | not null | nextval('pagila.country_country_id_seq'::regclass)
 country     | text                     |           | not null |
 last_update | timestamp with time zone |           | not null | now()
Indexes:
    "country_pkey" PRIMARY KEY, btree (country_id)
Referenced by:
    TABLE "pagila.city" CONSTRAINT "city_country_id_fkey" FOREIGN KEY (country_id) REFERENCES pagila.country(country_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.country FOR EACH ROW EXECUTE FUNCTION pagila.last_updated()

In [34]:
!psql -c "\d pagila.inventory"

                                                Table "pagila.inventory"
    Column    |           Type           | Collation | Nullable |                        Default
--------------+--------------------------+-----------+----------+--------------------------------------------------------
 inventory_id | integer                  |           | not null | nextval('pagila.inventory_inventory_id_seq'::regclass)
 film_id      | smallint                 |           | not null |
 store_id     | smallint                 |           | not null |
 last_update  | timestamp with time zone |           | not null | now()
Indexes:
    "inventory_pkey" PRIMARY KEY, btree (inventory_id)
    "idx_store_id_film_id" btree (store_id, film_id)
Foreign-key constraints:
    "inventory_film_id_fkey" FOREIGN KEY (film_id) REFERENCES pagila.film(film_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "inventory_store_id_fkey" FOREIGN KEY (store_id) REFERENCES pagila.store(store_id) ON UPDATE CASCADE ON DELETE RESTRICT
Referenced by:
    TABLE "pagila.rental" CONSTRAINT "rental_inventory_id_fkey" FOREIGN KEY (inventory_id) REFERENCES pagila.inventory(inventory_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.inventory FOR EACH ROW EXECUTE FUNCTION pagila.last_updated()

In [35]:
!psql -c "\d pagila.country"

                                               Table "pagila.country"
   Column    |           Type           | Collation | Nullable |                      Default
-------------+--------------------------+-----------+----------+----------------------------------------------------
 country_id  | integer                  |           | not null | nextval('pagila.country_country_id_seq'::regclass)
 country     | text                     |           | not null |
 last_update | timestamp with time zone |           | not null | now()
Indexes:
    "country_pkey" PRIMARY KEY, btree (country_id)
Referenced by:
    TABLE "pagila.city" CONSTRAINT "city_country_id_fkey" FOREIGN KEY (country_id) REFERENCES pagila.country(country_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.country FOR EACH ROW EXECUTE FUNCTION pagila.last_updated()

In [36]:
!psql -c "\d pagila.inventory"

                                                Table "pagila.inventory"
    Column    |           Type           | Collation | Nullable |                        Default
--------------+--------------------------+-----------+----------+--------------------------------------------------------
 inventory_id | integer                  |           | not null | nextval('pagila.inventory_inventory_id_seq'::regclass)
 film_id      | smallint                 |           | not null |
 store_id     | smallint                 |           | not null |
 last_update  | timestamp with time zone |           | not null | now()
Indexes:
    "inventory_pkey" PRIMARY KEY, btree (inventory_id)
    "idx_store_id_film_id" btree (store_id, film_id)
Foreign-key constraints:
    "inventory_film_id_fkey" FOREIGN KEY (film_id) REFERENCES pagila.film(film_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "inventory_store_id_fkey" FOREIGN KEY (store_id) REFERENCES pagila.store(store_id) ON UPDATE CASCADE ON DELETE RESTRICT
Referenced by:
    TABLE "pagila.rental" CONSTRAINT "rental_inventory_id_fkey" FOREIGN KEY (inventory_id) REFERENCES pagila.inventory(inventory_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.inventory FOR EACH ROW EXECUTE FUNCTION pagila.last_updated()

In [37]:
!psql -c "\d pagila.language"

                                               Table "pagila.language"
   Column    |           Type           | Collation | Nullable |                       Default
-------------+--------------------------+-----------+----------+------------------------------------------------------
 language_id | integer                  |           | not null | nextval('pagila.language_language_id_seq'::regclass)
 name        | character(20)            |           | not null |
 last_update | timestamp with time zone |           | not null | now()
Indexes:
    "language_pkey" PRIMARY KEY, btree (language_id)
Referenced by:
    TABLE "pagila.film" CONSTRAINT "film_language_id_fkey" FOREIGN KEY (language_id) REFERENCES pagila.language(language_id) ON UPDATE CASCADE ON DELETE RESTRICT
    TABLE "pagila.film" CONSTRAINT "film_original_language_id_fkey" FOREIGN KEY (original_language_id) REFERENCES pagila.language(language_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.language FOR EACH ROW EXECUTE FUNCTION pagila.last_updated()

In [38]:
!psql -c "\d pagila.payment"

                                               Table "pagila.payment"
    Column    |           Type           | Collation | Nullable |                      Default
--------------+--------------------------+-----------+----------+----------------------------------------------------
 payment_id   | integer                  |           | not null | nextval('pagila.payment_payment_id_seq'::regclass)
 customer_id  | smallint                 |           | not null |
 staff_id     | smallint                 |           | not null |
 rental_id    | integer                  |           | not null |
 amount       | numeric(5,2)             |           | not null |
 payment_date | timestamp with time zone |           | not null |
Indexes:
    "payment_pkey" PRIMARY KEY, btree (payment_id)
    "idx_fk_customer_id" btree (customer_id)
    "idx_fk_staff_id" btree (staff_id)
Foreign-key constraints:
    "customer_id_fkey" FOREIGN KEY (customer_id) REFERENCES pagila.customer(customer_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "rental_id_fkey" FOREIGN KEY (rental_id) REFERENCES pagila.rental(rental_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "staff_id_fkey" FOREIGN KEY (staff_id) REFERENCES pagila.staff(staff_id) ON UPDATE CASCADE ON DELETE RESTRICT

In [39]:
!psql -c "\d pagila.rental"

                                               Table "pagila.rental"
    Column    |           Type           | Collation | Nullable |                     Default
--------------+--------------------------+-----------+----------+--------------------------------------------------
 rental_id    | integer                  |           | not null | nextval('pagila.rental_rental_id_seq'::regclass)
 rental_date  | timestamp with time zone |           | not null |
 inventory_id | integer                  |           | not null |
 customer_id  | smallint                 |           | not null |
 return_date  | timestamp with time zone |           |          |
 staff_id     | smallint                 |           | not null |
 last_update  | timestamp with time zone |           | not null | now()
Indexes:
    "rental_pkey" PRIMARY KEY, btree (rental_id)
    "idx_fk_inventory_id" btree (inventory_id)
    "idx_unq_rental_rental_date_inventory_id_customer_id" UNIQUE, btree (rental_date, inventory_id, customer_id)
Foreign-key constraints:
    "rental_customer_id_fkey" FOREIGN KEY (customer_id) REFERENCES pagila.customer(customer_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "rental_inventory_id_fkey" FOREIGN KEY (inventory_id) REFERENCES pagila.inventory(inventory_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "rental_staff_id_fkey" FOREIGN KEY (staff_id) REFERENCES pagila.staff(staff_id) ON UPDATE CASCADE ON DELETE RESTRICT
Referenced by:
    TABLE "pagila.payment" CONSTRAINT "rental_id_fkey" FOREIGN KEY (rental_id) REFERENCES pagila.rental(rental_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.rental FOR EACH ROW EXECUTE FUNCTION pagila.last_updated()

In [40]:
!psql -c "\d pagila.staff"

                                              Table "pagila.staff"
   Column    |           Type           | Collation | Nullable |                    Default
-------------+--------------------------+-----------+----------+------------------------------------------------
 staff_id    | integer                  |           | not null | nextval('pagila.staff_staff_id_seq'::regclass)
 first_name  | text                     |           | not null |
 last_name   | text                     |           | not null |
 address_id  | smallint                 |           | not null |
 email       | text                     |           |          |
 store_id    | smallint                 |           | not null |
 active      | boolean                  |           | not null | true
 username    | text                     |           | not null |
 password    | text                     |           |          |
 last_update | timestamp with time zone |           | not null | now()
 picture     | bytea                    |           |          |
Indexes:
    "staff_pkey" PRIMARY KEY, btree (staff_id)
Foreign-key constraints:
    "staff_address_id_fkey" FOREIGN KEY (address_id) REFERENCES pagila.address(address_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "staff_store_id_fkey" FOREIGN KEY (store_id) REFERENCES pagila.store(store_id)
Referenced by:
    TABLE "pagila.rental" CONSTRAINT "rental_staff_id_fkey" FOREIGN KEY (staff_id) REFERENCES pagila.staff(staff_id) ON UPDATE CASCADE ON DELETE RESTRICT
    TABLE "pagila.payment" CONSTRAINT "staff_id_fkey" FOREIGN KEY (staff_id) REFERENCES pagila.staff(staff_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.staff FOR EACH ROW EXECUTE FUNCTION pagila.last_updated()

In [41]:
!psql -c "\d pagila.store"

                                                Table "pagila.store"
      Column      |           Type           | Collation | Nullable |                    Default
------------------+--------------------------+-----------+----------+------------------------------------------------
 store_id         | integer                  |           | not null | nextval('pagila.store_store_id_seq'::regclass)
 manager_staff_id | smallint                 |           | not null |
 address_id       | smallint                 |           | not null |
 last_update      | timestamp with time zone |           | not null | now()
Indexes:
    "store_pkey" PRIMARY KEY, btree (store_id)
    "idx_unq_manager_staff_id" UNIQUE, btree (manager_staff_id)
Foreign-key constraints:
    "store_address_id_fkey" FOREIGN KEY (address_id) REFERENCES pagila.address(address_id) ON UPDATE CASCADE ON DELETE RESTRICT
Referenced by:
    TABLE "pagila.customer" CONSTRAINT "customer_store_id_fkey" FOREIGN KEY (store_id) REFERENCES pagila.store(store_id) ON UPDATE CASCADE ON DELETE RESTRICT
    TABLE "pagila.inventory" CONSTRAINT "inventory_store_id_fkey" FOREIGN KEY (store_id) REFERENCES pagila.store(store_id) ON UPDATE CASCADE ON DELETE RESTRICT
    TABLE "pagila.staff" CONSTRAINT "staff_store_id_fkey" FOREIGN KEY (store_id) REFERENCES pagila.store(store_id)
Triggers:
    last_updated BEFORE UPDATE ON pagila.store FOR EACH ROW EXECUTE FUNCTION pagila.last_updated()

In [21]:
# This inner join combines the ID information for films, actors, and stores, sorted by the actor and limited to inventory in the store with the ID of 1
!psql -c "CREATE table pagila.film_inventory AS SELECT film_actor.film_id, actor_id, store_id FROM pagila.film_actor INNER JOIN pagila.inventory ON inventory.film_id = film_actor.film_id WHERE store_id = 1 ORDER BY actor_id"

SELECT 12413

In [23]:
!psql -c "select * from pagila.film_inventory limit 20"

 film_id | actor_id | store_id
---------+----------+----------
       1 |        1 |        1
       1 |        1 |        1
       1 |        1 |        1
       1 |        1 |        1
      23 |        1 |        1
      23 |        1 |        1
      23 |        1 |        1
      25 |        1 |        1
      25 |        1 |        1
      25 |        1 |        1
      25 |        1 |        1
     106 |        1 |        1
     106 |        1 |        1
     140 |        1 |        1
     140 |        1 |        1
     166 |        1 |        1
     166 |        1 |        1
     166 |        1 |        1
     166 |        1 |        1
     277 |        1 |        1
(20 rows)

In [26]:
# This inner join creates a table that has ID information on the actors, films, and stores, as well as the actors' first and last names, limited to the first two actors
!psql -c "CREATE table pagila.actor_inventory AS SELECT actor.actor_id, first_name, last_name, film_id, store_id FROM pagila.actor INNER JOIN pagila.film_inventory ON film_inventory.actor_id = actor.actor_id WHERE actor.actor_id < 3 ORDER BY actor_id"

SELECT 96

In [31]:
!psql -c "select * from pagila.actor_inventory"

 actor_id | first_name | last_name | film_id | store_id
----------+------------+-----------+---------+----------
        1 | PENELOPE   | GUINESS   |       1 |        1
        1 | PENELOPE   | GUINESS   |       1 |        1
        1 | PENELOPE   | GUINESS   |       1 |        1
        1 | PENELOPE   | GUINESS   |       1 |        1
        1 | PENELOPE   | GUINESS   |      23 |        1
        1 | PENELOPE   | GUINESS   |      23 |        1
        1 | PENELOPE   | GUINESS   |      23 |        1
        1 | PENELOPE   | GUINESS   |      25 |        1
        1 | PENELOPE   | GUINESS   |      25 |        1
        1 | PENELOPE   | GUINESS   |      25 |        1
        1 | PENELOPE   | GUINESS   |      25 |        1
        1 | PENELOPE   | GUINESS   |     106 |        1
        1 | PENELOPE   | GUINESS   |     106 |        1
        1 | PENELOPE   | GUINESS   |     140 |        1
        1 | PENELOPE   | GUINESS   |     140 |        1
        1 | PENELOPE   | GUINESS   |     166 |        1
        1 | PENELOPE   | GUINESS   |     166 |        1
        1 | PENELOPE   | GUINESS   |     166 |        1
        1 | PENELOPE   | GUINESS   |     166 |        1
        1 | PENELOPE   | GUINESS   |     277 |        1
        1 | PENELOPE   | GUINESS   |     277 |        1
        1 | PENELOPE   | GUINESS   |     277 |        1
        1 | PENELOPE   | GUINESS   |     361 |        1
        1 | PENELOPE   | GUINESS   |     361 |        1
        1 | PENELOPE   | GUINESS   |     361 |        1
        1 | PENELOPE   | GUINESS   |     361 |        1
        1 | PENELOPE   | GUINESS   |     438 |        1
        1 | PENELOPE   | GUINESS   |     438 |        1
        1 | PENELOPE   | GUINESS   |     499 |        1
        1 | PENELOPE   | GUINESS   |     499 |        1
        1 | PENELOPE   | GUINESS   |     506 |        1
        1 | PENELOPE   | GUINESS   |     506 |        1
        1 | PENELOPE   | GUINESS   |     506 |        1
        1 | PENELOPE   | GUINESS   |     506 |        1
        1 | PENELOPE   | GUINESS   |     749 |        1
        1 | PENELOPE   | GUINESS   |     749 |        1
        1 | PENELOPE   | GUINESS   |     832 |        1
        1 | PENELOPE   | GUINESS   |     832 |        1
        1 | PENELOPE   | GUINESS   |     832 |        1
        1 | PENELOPE   | GUINESS   |     832 |        1
        1 | PENELOPE   | GUINESS   |     970 |        1
        1 | PENELOPE   | GUINESS   |     970 |        1
        1 | PENELOPE   | GUINESS   |     970 |        1
        1 | PENELOPE   | GUINESS   |     980 |        1
        1 | PENELOPE   | GUINESS   |     980 |        1
        1 | PENELOPE   | GUINESS   |     980 |        1
        2 | NICK       | WAHLBERG  |      31 |        1
        2 | NICK       | WAHLBERG  |      31 |        1
        2 | NICK       | WAHLBERG  |      31 |        1
        2 | NICK       | WAHLBERG  |      31 |        1
        2 | NICK       | WAHLBERG  |     105 |        1
        2 | NICK       | WAHLBERG  |     105 |        1
        2 | NICK       | WAHLBERG  |     132 |        1
        2 | NICK       | WAHLBERG  |     132 |        1
        2 | NICK       | WAHLBERG  |     132 |        1
        2 | NICK       | WAHLBERG  |     132 |        1
        2 | NICK       | WAHLBERG  |     226 |        1
        2 | NICK       | WAHLBERG  |     226 |        1
        2 | NICK       | WAHLBERG  |     249 |        1
        2 | NICK       | WAHLBERG  |     249 |        1
        2 | NICK       | WAHLBERG  |     314 |        1
        2 | NICK       | WAHLBERG  |     314 |        1
        2 | NICK       | WAHLBERG  |     321 |        1
        2 | NICK       | WAHLBERG  |     321 |        1
        2 | NICK       | WAHLBERG  |     321 |        1
        2 | NICK       | WAHLBERG  |     321 |        1
        2 | NICK       | WAHLBERG  |     369 |        1
        2 | NICK       | WAHLBERG  |     369 |        1
        2 | NICK       | WAHLBERG  |     369 |        1
        2 | NICK       | WAHLBERG  |     369 |        1
        2 | NICK       | WAHLBERG  |     458 |        1
        2 | NICK       | WAHLBERG  |     458 |        1
        2 | NICK       | WAHLBERG  |     481 |        1
        2 | NICK       | WAHLBERG  |     481 |        1
        2 | NICK       | WAHLBERG  |     481 |        1
        2 | NICK       | WAHLBERG  |     518 |        1
        2 | NICK       | WAHLBERG  |     518 |        1
        2 | NICK       | WAHLBERG  |     540 |        1
        2 | NICK       | WAHLBERG  |     540 |        1
        2 | NICK       | WAHLBERG  |     540 |        1
        2 | NICK       | WAHLBERG  |     550 |        1
        2 | NICK       | WAHLBERG  |     550 |        1
        2 | NICK       | WAHLBERG  |     550 |        1
        2 | NICK       | WAHLBERG  |     555 |        1
        2 | NICK       | WAHLBERG  |     555 |        1
        2 | NICK       | WAHLBERG  |     555 |        1
        2 | NICK       | WAHLBERG  |     561 |        1
        2 | NICK       | WAHLBERG  |     561 |        1
        2 | NICK       | WAHLBERG  |     561 |        1
        2 | NICK       | WAHLBERG  |     561 |        1
        2 | NICK       | WAHLBERG  |     811 |        1
        2 | NICK       | WAHLBERG  |     811 |        1
        2 | NICK       | WAHLBERG  |     811 |        1
        2 | NICK       | WAHLBERG  |     958 |        1
        2 | NICK       | WAHLBERG  |     958 |        1
        2 | NICK       | WAHLBERG  |     958 |        1
(96 rows)

In [34]:
# This inner join creates a table with film ID and title, actor ID and full name, as well as store ID, limited to the first 900 films
!psql -c "CREATE table pagila.actor_film_inventory AS SELECT film.film_id, title, actor_id, first_name, last_name, store_id FROM pagila.film INNER JOIN pagila.actor_inventory ON actor_inventory.film_id = film.film_id WHERE film.film_id < 900 ORDER BY actor_id"

SELECT 87

In [44]:
!psql -c "select * from pagila.actor_film_inventory LIMIT 12"

 film_id |         title         | actor_id | first_name | last_name | store_id
---------+-----------------------+----------+------------+-----------+----------
       1 | ACADEMY DINOSAUR      |        1 | PENELOPE   | GUINESS   |        1
       1 | ACADEMY DINOSAUR      |        1 | PENELOPE   | GUINESS   |        1
       1 | ACADEMY DINOSAUR      |        1 | PENELOPE   | GUINESS   |        1
       1 | ACADEMY DINOSAUR      |        1 | PENELOPE   | GUINESS   |        1
      23 | ANACONDA CONFESSIONS  |        1 | PENELOPE   | GUINESS   |        1
      23 | ANACONDA CONFESSIONS  |        1 | PENELOPE   | GUINESS   |        1
      23 | ANACONDA CONFESSIONS  |        1 | PENELOPE   | GUINESS   |        1
      25 | ANGELS LIFE           |        1 | PENELOPE   | GUINESS   |        1
      25 | ANGELS LIFE           |        1 | PENELOPE   | GUINESS   |        1
      25 | ANGELS LIFE           |        1 | PENELOPE   | GUINESS   |        1
      25 | ANGELS LIFE           |        1 | PENELOPE   | GUINESS   |        1
     106 | BULWORTH COMMANDMENTS |        1 | PENELOPE   | GUINESS   |        1
(12 rows)

In [41]:
!psql -c "select * from pagila.address LIMIT 12"

 address_id |              address               | address2 |    district    | city_id | postal_code |    phone     |      last_update
------------+------------------------------------+----------+----------------+---------+-------------+--------------+------------------------
          1 | 47 MySakila Drive                  |          | Alberta        |     300 |             |              | 2017-02-15 09:45:30+00
          2 | 28 MySQL Boulevard                 |          | QLD            |     576 |             |              | 2017-02-15 09:45:30+00
          3 | 23 Workhaven Lane                  |          | Alberta        |     300 |             | 14033335568  | 2017-02-15 09:45:30+00
          4 | 1411 Lillydale Drive               |          | QLD            |     576 |             | 6172235589   | 2017-02-15 09:45:30+00
          5 | 1913 Hanoi Way                     |          | Nagasaki       |     463 | 35200       | 28303384290  | 2017-02-15 09:45:30+00
          6 | 1121 Loja Avenue                   |          | California     |     449 | 17886       | 838635286649 | 2017-02-15 09:45:30+00
          7 | 692 Joliet Street                  |          | Attika         |      38 | 83579       | 448477190408 | 2017-02-15 09:45:30+00
          8 | 1566 Inegl Manor                   |          | Mandalay       |     349 | 53561       | 705814003527 | 2017-02-15 09:45:30+00
          9 | 53 Idfu Parkway                    |          | Nantou         |     361 | 42399       | 10655648674  | 2017-02-15 09:45:30+00
         10 | 1795 Santiago de Compostela Way    |          | Texas          |     295 | 18743       | 860452626434 | 2017-02-15 09:45:30+00
         11 | 900 Santiago de Compostela Parkway |          | Central Serbia |     280 | 93896       | 716571220373 | 2017-02-15 09:45:30+00
         12 | 478 Joliet Way                     |          | Hamilton       |     200 | 77948       | 657282285970 | 2017-02-15 09:45:30+00
(12 rows)

In [38]:
!psql -c "select * from pagila.store"

 store_id | manager_staff_id | address_id |      last_update
----------+------------------+------------+------------------------
        1 |                1 |          1 | 2017-02-15 09:57:12+00
        2 |                2 |          2 | 2017-02-15 09:57:12+00
(2 rows)

In [45]:
# Left outer join to create a table with information about district and city ID using the address ID from both tables
!psql -c "CREATE table store_city_id AS SELECT store_id, district, city_id FROM pagila.store LEFT JOIN pagila.address ON store.address_id = address.address_id WHERE address.address_id < 3 ORDER BY store_id"

SELECT 2

In [47]:
!psql -c "select * from store_city_id"

 store_id | district | city_id
----------+----------+---------
        1 | Alberta  |     300
        2 | QLD      |     576
(2 rows)

In [68]:
# Left outer join to create a table with names of city and district using city ID
!psql -c "CREATE table store_city AS SELECT store_id, district, city FROM store_city_id LEFT JOIN pagila.city ON city.city_id = store_city_id.city_id WHERE city.city_id < 600 ORDER BY city"

SELECT 2

In [69]:
!psql -c "select * from store_city"

 store_id | district |    city
----------+----------+------------
        1 | Alberta  | Lethbridge
        2 | QLD      | Woodridge
(2 rows)

In [65]:
# Left outer join to create a table with full name of employees and the district and city they work in using store ID
!psql -c "CREATE table employee_city AS SELECT district, city, first_name, last_name FROM store_city LEFT JOIN pagila.staff ON staff.store_id = store_city.store_id WHERE store_city.store_id < 3 ORDER BY last_name"

SELECT 2

In [66]:
!psql -c "SELECT * from employee_city"

 district |    city    | first_name | last_name
----------+------------+------------+-----------
 Alberta  | Lethbridge | Mike       | Hillyer
 QLD      | Woodridge  | Jon        | Stephens
(2 rows)

In [84]:
# self join to find actors with the same first name and display their actor IDs
!psql -c "SELECT a1.first_name, a2.first_name, a2.actor_id FROM pagila.actor a1 JOIN pagila.actor a2 ON a1.actor_id != a2.actor_id AND a1.first_name = a2.first_name LIMIT 12"

 first_name | first_name | actor_id
------------+------------+----------
 PENELOPE   | PENELOPE   |      120
 PENELOPE   | PENELOPE   |      104
 PENELOPE   | PENELOPE   |       54
 NICK       | NICK       |      166
 NICK       | NICK       |       44
 ED         | ED         |      179
 ED         | ED         |      136
 JOHNNY     | JOHNNY     |       40
 MATTHEW    | MATTHEW    |      181
 MATTHEW    | MATTHEW    |      103
 CHRISTIAN  | CHRISTIAN  |       61
 CHRISTIAN  | CHRISTIAN  |       58
(12 rows)